@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <p>
            This project implements a web-based Dijkstra's Algorithm Calculator using React and Material-UI. It provides a user-friendly interface for calculating the shortest path between nodes in a graph using Dijkstra's algorithm.

            Features
            Interactive UI for selecting start and end nodes
            Visualization of the shortest path and total distance
            Responsive design that works on desktop and mobile devices
            Clear and Calculate functionality
            Integration with backend API for path calculations
        </p>
    </section>
</main>